.number1{
	margin-top: 190px;
	margin-left: 120px;
}
.number2{

	margin-left: 110px;
}
.number3{
	margin-left: 50px;
	font-size: 30px;
}
.logo{
	margin-top:150px;
	margin-right:90px;
}
.text{
	margin-left:50px;
}

.btn{
   margin-right: 100px;

}
.btnn{
	margin-right: 10px;
	margin-bottom:30px;
	color: blue;
}
.second{
	margin-left:10px;
	color: blue;
}
.aa{
	margin-left: 50px;
}
.f1{
	margin-top: 70px;

}



